@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://rsms.me/inter/inter.css');

@supports (font-variation-settings: normal) {
  body {
    font-family: "Inter var", sans-serif
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif  -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue;
  background-color: black;
  color: white;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover, a:focus, a:active {
  text-decoration: underline;
  color: #c3f53b;
}

* {
  box-sizing: border-box;
}

h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.dataheader {
  background-color: black;
  margin: 10px;
  padding: 10px;
  border: 4px white solid;
  width: fit-content;
  margin-top: 30px;
  margin-bottom: 20px;
  color: white;
  width: fit-content;
}

.askInfoBlobs {
  display: grid;
}

.askInfoBlobsCleaned {
  width: 100%;
  display: grid;
  grid-template: 1fr / 1fr 1fr;
  border: 1px white solid;
} 

.dataFields {
/*   border: 1px red solid; */
  display: grid;
  grid-template: repeat(6, 1fr) / 1fr;
  background-color: white;
  grid-gap: 1px;
}

.dataValues {
/*   border: 1px red solid; */
  display: grid;
  grid-template: repeat(6, 1fr) / 1fr;
  background-color: white;
  grid-gap: 1px;
}

.dataFieldsIndividuals {
/*   border: 1px black solid; */
  background-color: black;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: .3rem;
}

.dataValuesIndividuals {
/*   border: 1px black solid; */
  background-color: black;
  border-left: 1px solid white;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: .3rem;
}

.bountyHeaderAndDataWrapper {
/*   bordeR: 1px red solid; */
  background-color: black;
  width: auto;
}

/* Pagination styles */
.pagination {
  display: flex;
  justify-content: space-between;
  list-style: none;
  cursor: pointer;
  margin-top: 30px;
  align-items: center;
}

.pagination a {
  padding: 10px;
  border-radius: none;
  border: 2px solid white;
  color: white;
  margin-left: 2px;
  margin-right: 2px;
}

.pagination__link {
  font-weight: bold;
  margin-left: 20px !important;
  margin-right: 20px !important;
}

.pagination__link--active a {
  font-weight: bold;
  color: #c3f53b;
  background: black;
  border: 2px solid #c3f53b; 
}

.pagination__link--disabled a {
  color: rgb(71 85 105 / var(--tw-text-opacity));
  border: 2px solid rgb(71 85 105 / var(--tw-text-opacity));
}

/* hide prev/next buttons on mobiles */
@media only screen and (max-width: 768px) {
  .pagination__link {
    display: none;
  }
}